<div class="banner-container">
    <button class="banner-button left" (click)="rotateLeft()">&#9664;</button>
    <div class="container banner-content">
        <div #bannerContent class="container banner-slider" [style.transform]="getTransform()">
            <button class="banner-item" (click)="alertItem('item')">Item 1</button>
            <button class="banner-item" (click)="alertItem('item')">Item 2</button>
            <button class="banner-item" (click)="alertItem('item')">Item 3</button>
            <button class="banner-item" (click)="alertItem('item')">Item 4</button>
            <button class="banner-item" (click)="alertItem('item')">Item 5</button>
        </div>
    </div>
    <button class="banner-button right" (click)="rotateRight()">&#9654;</button>
</div>