<main class="page-box" style="min-height:100vh">
    <div class="header mt-5 pb-5">
        <h1>Hey,<br /> and <b>Welcome!</b></h1>
        <img src="/bio_pic.JPEG" class="rounded-3" alt="Adam Leidich" />
    </div>
    <div class="container-sm mt-5 text-secondary-emphasis bg-light-subtle border border-light-subtle rounded-3">
        <p class="page-box">Hey, I'm Adam! Thanks for checking out my site. <br />testsetsetsetset</p>
    </div>
</main>
<!-- Footer -->
<footer class="bg-light py-2 mt-5">
    <div class="d-flex justify-content-around">
        <small>Check out my <a href="https://github.com/adamLeid" target="_blank">Github</a></small>
        <small>Created by Adam Leidich</small>
        <small>Check out my <a href="https://linkedin.com/in/adam-leidich" target="_blank">LinkedIn</a></small>
    </div>
</footer>